@import '../../styles/variables';

.place-content {
  width: 90vw;
}

@media (min-width: 768px) {
  .place-content {
    width: 80vw;
  }
}

@media (min-width: 1024px) {
  .place-content {
    padding-bottom: 2rem;
    width: 50vw;
  }
}
