@import '../../styles/variables';

.place-content {
  margin-top: $mobile-place-margin-top;
  width: 90vw;
}

@media (min-width: 768px) {
  .place-content {
    margin-top: $tablet-place-margin-top;
    width: 80vw;
  }
}

@media (min-width: 1024px) {
  .place-content {
    padding-bottom: 2rem;
    width: 50vw;
  }
}
