@import '../../styles/mixins';
@import '../../styles/variables';

.picture-toolbar {
  @include MobileNavBottomFixed($mobile-nav-height, 1000);
  background: $sec-color;
  z-index: 10000;
}

.picture-toolbar-list {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: $mobile-nav-padding;
  // picture-toolbar-list
  &__btn {
      color: $icon-color;
    font-size: $common-icon-font-size;
  }
}
