@import '../../styles/mixins';
@import '../../styles/variables';

.notification {
  background: rgba(220, 220, 220, 0.95);
  border-radius: 10px;
  font-size: 1.3rem;
  left: 50%;
  line-height: 2rem;
  margin-left: -150px;
  padding: 1rem;
  position: fixed;
  text-align: center;
  top: 80px;
  width: 300px;
  z-index: $notification-index;
}
