@import '../../styles/mixins';
@import '../../styles/variables';

.place-list {
  @include ListStyle;
  padding: $mobile-place-list-padding;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .place-list {
    grid-template-columns: repeat(auto-fill, 320px);
    padding: $tablet-page-padding;

    // place-list__btn
    &__btn {
      display: initial;
    }
  }
}

@media (min-width: 1024px) {
  .place-list {
    grid-template-columns: repeat(auto-fill, 300px);
    padding-left: 3rem;
    padding-right: 3rem;
    width: 100%;
  }
}
