@import '../../styles/variables';
@import '../../styles/mixins';

.mobile-nav {
  @include MobileNavBottomFixed($mobile-nav-height, $mobile-nav-index);
}
.mobile-nav-list {
  align-items: center;
  background: $sec-color;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: $mobile-nav-padding;
}

.mobile-nav-list-item {
  &__btn {
    color: $icon-color;
    font-size: 2rem;
    position: relative;
  }
  // mobile-nav-list-item__counter
  &__counter {
    align-items: center;
    background: black;
    border-radius: 50%;
    color: white;
    display: flex;
    font-size: 0.9rem;
    height: 23px;
    justify-content: center;
    position: absolute;
    right: -6px;
    top: -6px;
    width: 23px;
  }
}

.mobile-nav-list-item--shuffle-item {
  align-items: center;
  background: $third-color;
  border-radius: 50%;
  bottom: 25px;
  box-shadow: 0 7px 20px black;
  display: flex;
  font-size: 2.3rem;
  justify-content: center;
  height: 70px;
  position: relative;
  width: 70px;
}

@media (min-width: 768px) {
  .mobile-nav {
    height: $tablet-nav-height;
  }
}
