@import '../../styles/variables';

.mobile-nav {
  bottom: 0;
  height: $mobile-nav-height;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: 1000;
}
.mobile-nav-list {
  align-items: center;
  background: $sec-color;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;

  // mobile-nav-list-item
  &-item {
    &__btn {
        color: $icon-color;
        font-size: 2rem;
    }
  }
}

.mobile-nav-list-item--shuffle-item {
  align-items: center;
  background: $third-color;
  border-radius: 50%;
  bottom: 25px;
  box-shadow: 0 7px 20px black;
  display: flex;
  font-size: 2.3rem;
  justify-content: center;
  height: 70px;
  position: relative;
  width: 70px;
}
