@import '../../styles/variables';
@import '../../styles/mixins';

.mobile-nav {
  @include MobileNavBottomFixed($nav-height, $mobile-nav-index);
}
.mobile-nav-list {
  background: $sec-color;
  display: flex;
  height: 100%;
}

.mobile-nav-list-item {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  transition: 100ms ease;
  transition-property: background, opacity;
  // mobile-nav-list-item:hover
  &:hover {
    background: rgb(235, 235, 235);
    opacity: 0.9;
  }
  // mobile-nav-list-item__btn
  &__btn {
    border-radius: 50%;
    height: 100%;
    transition: background 200ms ease;
    width: 100%;
  }
  // mobile-nav-list-item__btn:focus
  &__btn:focus {
    background: lighten($third-color, 3%);
    outline: none;
  }

  // mobile-nav-list-item__link
  &__link {
    align-items: center;
    color: $icon-color;
    display: flex;
    font-size: 2rem;
    height: 100%;
    justify-content: center;
    padding: 0 0.8rem;
    position: relative;
    width: 100%;
  }
}
.mobile-nav-list-item--no-hover-effect {
  // mobile-nav-list-item--no-hover-effect:hover
  &:hover {
    background: initial;
    opacity: 1;
  }
}
.mobile-nav-list-item--shuffle-btn {
  bottom: 25px;
  flex: none;
  position: relative;
}

.active-tab {
  background: rgb(235, 235, 235);
}

.fa-list-alt {
  position: relative;
}

@media (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }
}
