.aside-share-link-list {
  align-items: center;
  background: #b5b5b580;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  font-size: 2rem;
  height: 50px;
  justify-content: space-between;
  left: 100px;
  padding: 0 10px;
  position: absolute;
  transform: translateX(-250%);
  transition: 300ms ease;
  transition-property: box-shadow, transform, opacity;
  top: 50px;
  width: 150px;
  z-index: 0;

  // aside-share-link-list__item
  &__item {
    margin-right: 10px;
    opacity: 0;
    
  }
  
  // aside-share-link-list__icon
  &__icon {
    color: black;
    transition: color 200ms ease;

    // aside-share-link-list__icon:hover
    &:hover {
      color: lighten(black,20%);
    }
  }
}

.aside-share-link-list--open {
  box-shadow: 10px 10px 10px #0000004d;
  transform: translateX(0);
  // .aside-share-link-list--open aside-share-link-list__item
  & .aside-share-link-list__item {
    opacity: 1;
  }
}
