@import '../../styles/variables';

.share-link-list {
  animation: slide-in-bottom-to-top 0.3s ease both;
  background-color: $social-bg;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  bottom: 0;
  color: #252624;
  left: 0;
  list-style: none;
  position: fixed;
  width: 100vw;
  z-index: $share-links-index;

  // share-link-list__item
  &__item {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: inherit;
    padding: 0 0.3rem;
    padding-top: 0.7rem;
    transition: background 200ms ease;
  }

  // share-link-list__icon
  &__icon {
    font-size: 30px;
    margin-right: 10px;
    width: 50px;
  }

  // share-link-list__link
  &__link {
    align-items: center;
    color: inherit;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    padding: 1rem 2rem;
    text-align: left;
    width: 100%;
  }

  // share-link-list__line {
  .share-link-list__line {
    border-bottom: 1px solid white;
  }
}

@media (min-width: 768px) {
  .person-options-container {
    bottom: -125px;
    border-radius: 20px;
    left: unset;
    position: absolute;
    right: 10px;
    width: max-content;

    // person-options-container__name
    &__name {
      display: none;
    }
  }
}
