@import '../../styles/variables';

.place-details {
  align-items: center;
  background: $place-name-bg;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
}

.place-details-location-container {
  align-items: center;
  display: flex;

  // .place-details-location-container__icon
  &__icon {
    margin-right: 7px;
  }
}
