@import '../../styles/variables';

.place-details {
  align-items: center;
  background: $sec-color;
  box-shadow: 0 8px 15px #1b1b1b;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: -5px;
  padding: 0.8rem 1rem;
}

.place-details-location-container {
  align-items: center;
  display: flex;

  // .place-details-location-container__icon
  &__icon {
    margin-right: 7px;
  }
}
