@import '../../styles/mixins';
@import '../../styles/variables';
.social-links {
  @include CenteredAndFixedElement(300px, 180px);
  background: $sec-color;
  border-radius: 10px;
  display: flex;
  font-size: 3rem;
  justify-content: space-between;
  padding: 2rem;
  .social-links__link {
    color: $icon-color;
  }
}
