@import '../../styles/variables';
.profile {
  background: $profile-bg-color;
  color: $icon-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 90px;
  padding-bottom: 45%;
  // profile__footer
  &__footer {
    align-self: center;
  }
}
