@import '../../styles/mixins';
@import '../../styles/variables';

.mobile-picture-nav-top {
  @include AppHeadFixed($mobile-nav-height, $mobile-picture-nav-index);
  align-items: center;
  background: $sec-color;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;

  // mobile-picture-nav-top__link
  &__link {
    color: $icon-color;
    font-size: $common-icon-font-size;
  }
  // mobile-picture-nav-top__name
  &__name {
    color: $icon-color;
    font-size: 1.3rem;
    text-align: center;
  }
  // mobile-picture-nav-top__empty-div
  &__empty-div {
    width: 28px;
  }
}
