@import '../../styles/mixins';
@import '../../styles/variables';

.mobile-picture-nav-top {
  @include AppHeadFixed($mobile-nav-height, 1000);
  background: $sec-color;
  display: flex;
  padding: 0 1rem;
  // mobile-picture-nav-top__btn
  &__btn {
    color: $icon-color;
    font-size: $common-icon-font-size;
  }
}
