@import "../../styles/variables";
.app-head-nav {
  
  display: none;
}

@media (min-width: 1024px) {
  .app-head-nav {
    display: block;
  }
  .app-head-nav-list {
    display: flex;
    // app-head-nav-list__item
    &__item {
      color: $icon-color;
      margin-right: 20px;
    }
    // app-head-nav-list__link
    &__link {
      color: $icon-color;
    }
  }
}
