@import '../../styles/variables';
.profile {
  background: $profile-bg-color;
  color: $icon-color;
  height: 75vh;
  margin-top: 90px;
  position: relative;
  overflow: hidden scroll;
  // profile__footer
  &__footer {
    text-align: center;
  }
}
