.place-description {
    background: #F6F7F5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: black;
    font-size: 1rem;
    line-height: 1.4rem;
    padding: 1rem;
}