@keyframes slidein-toolbar-aside {
  from {
    transform: translateX(-170%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slidein-shuffle-aside {
  from {
    transform: translateX(170%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidein-home {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slidein-popup {
  from {
    transform: translateX(-120vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slidein-bottom-to-top {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(0);
  }
}
