@import './variables';
@mixin ListStyle {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 80%;
  justify-content: center;
  padding: $mobile-page-padding;
}

@mixin CenteredAndFixedElement($width, $height) {
  height: $height;
  top: 50%;
  left: 50%;
  margin-top: #{- $height / 2};
  margin-left: #{- $width / 2};
  position: fixed;
  width: $width;
}

@mixin MobileNavBottomFixed($height, $z-index) {
  bottom: 0;
  height: $height;
  left: 0;
  position: fixed;
  width: 100vw;
  z-index: $z-index;
}

@mixin AppHeadFixed($height, $z-index) {
  height: $height;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $z-index;
}


@mixin PreferencesItemStyle {
  align-items: center;
  background: $sec-color;
  display: flex;
  font-size: $preferences-font-size;
  padding: 0.4rem 1rem;
  width: 100%;
}