@import './variables';
@mixin ListStyle {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 80%;
  justify-content: center;
  padding: $mobile-page-padding;
}

@mixin CenteredAndFixedElement($width, $height) {
  height: $height;
  top: 50%;
  left: 50%;
  margin-top: #{- $height / 2};
  margin-left: #{- $width / 2};
  position: fixed;
  width: $width;
}