$site-background: #7c9473;
$sec-color: #cfdac8;
$third-color: #e5e4cc;
$profile-bg-color: #a4af9c;
$icon-color: #53584e;
$place-name-bg: #000000c9;
$main-ui-bg: #eee;
$logo-font: 'Crimson Text', serif;
$main-font: 'Open Sans', sans-serif;
$preferences-font-size: 1.5rem;
$mobile-list-padding: 100px 0;
$mobile-nav-padding: 0 1rem;
$nav-height: 60px;
$mobile-page-padding: $nav-height/2 0 $nav-height + 40px 0;
$tablet-place-list-padding: 120px 0;
$tablet-page-padding: $nav-height $nav-height + 40px 0;
$desktop-nav-padding: 0 3rem;
$desktop-page-padding: $nav-height 0 0 0;
$person-img-size: 90px;
$common-icon-font-size: 2rem;
$social-icon-font-size: 3rem;
$mobile-nav-index: 90;
$dark-background-index: 100;
$share-links-index: 200;
$mobile-picture-nav-index: 50;
$notification-index: 500;
$edit-profile-index: 200;
$map-index: 50;
$aside-index: 80;
$mobile-place-margin-top: 3rem;
$tablet-place-margin-top: 5rem;
