$site-background: #7c9473;
$sec-color: #cfdac8;
$third-color: #e5e4cc;
$profile-bg-color: #a4af9c;
$icon-color: #53584e;
$logo-font: 'Crimson Text', serif;
$main-font: 'Open Sans', sans-serif;
$preferences-font-size: 1.5rem;
$mobile-nav-height: 60px;
$mobile-nav-padding: 0 1rem;
$mobile-page-padding: 6rem 0 $mobile-nav-height + 15px 0;
$tablet-nav-height: 70px;
$tablet-page-padding: 8rem 0 $tablet-nav-height + 15px 0;
$person-img-size: 90px;
$common-icon-font-size: 2rem;
$social-icon-font-size: 3rem;
$mobile-nav-index: 40;
$dark-background-index: 100;
$share-links-index: 200;
$mobile-picture-nav-index: 50;
$notification-index: 300;
$edit-profile-index: 200;
$map-index: 30;
