@import '../../styles/variables';
.logo {
  align-items: center;
  display: flex;
  justify-content: center;
  letter-spacing: 0.3rem;
  user-select: none;
  // logo__link
  &__link {
    color: inherit;
    font-family: $logo-font;
    font-size: 2rem;
    text-align: center;
  }
}

