@import '../../styles/variables';
.logo {
  font-family: $logo-font;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  text-align: center;
  user-select: none;
}

.logo--large-screen {
  display: none;
}

@media (min-width: 1024px) {
  .logo--large-screen {
    display: block;
  }
}
