@import '../../styles/variables';

.place-thumbnail {
  height: auto;
  
  position: relative;
  width: 100%;

  // place-thumbnail__link
  &__link {
    height: 100%;
    display: block;
  }

  // place-thumbnail__icon
  &__icon {
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.7;
  }
}

.place-thumbnail-img-container {
  height: 100%;
}
@media (min-width: 768px) {
}
