@import '../../styles/variables';

.place-thumbnail {
 /*  height: auto; */
  position: relative;
  height: 300px;
  width: 100%;

  // place-thumbnail__link
  &__link {
    display: block;
    height: 100%;
  }

  // place-thumbnail__icon
  &__icon {
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.7;
  }
}

.place-thumbnail-img-container {
  height: 100%;
}
@media (min-width: 768px) {
}
