@import '../../styles/mixins';
@import '../../styles/variables';
.help-list {
  align-items: center;
  @include ListStyle;
  grid-template-columns: 90%;
  margin: 0 auto;
  max-width: 1440px;
  padding: $mobile-list-padding;
}

@media (min-width: 768px) {
  .help-list {
   padding-top: 2rem;
  }
}
