@import '../../styles/variables';
.avatar-container {
  border-radius: 50%;
  height: $person-img-size;
  width: $person-img-size;

  // avatar-container__img
  &__img {
    border-radius: 50%;
    height: $person-img-size;
    object-fit: cover;
    width: $person-img-size;
  }
}
