@import '../../styles/mixins';
@import '../../styles/variables';
.edit-person-ui {
  @include CenteredAndFixedElement(270px, 200px);
  align-items: center;
  background: $sec-color;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9999999999;
  // edit-person-ui-info-container
  &__info-container {
    display: flex;
    flex-direction: column;
  }
}
