@import '../../styles/variables';

.shuffle-btn {
  align-items: center;
  background: $third-color;
  border-radius: 50%;
  box-shadow: 0 7px 20px black;
  display: flex;
  font-size: 2.3rem;
  height: 70px;
  justify-content: center;
  transition: background 150ms ease;
  width: 70px;
  
  // shuffle-btn:hover
  &:hover {
    background: darken($third-color, 5%);
  }
}
