.profile-menu {
  // profile-menu__footer
  &__footer {
    color: ivory;
    text-align: center;
  }

  // profile-menu__attribute-link
  &__attribute-link {
    color: blue;
    margin-left: 0.5rem;
    // profile-menu__attribute-link:hover
    &:hover {
      text-decoration: underline;
    }
  }
}

.profile-menu-reset-container {
  margin-bottom: 2rem;

  // profile-menu-reset-container__btn
  &__btn {
    background: ivory;
    border-radius: 10px;
    display: block;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    transition: background 100ms ease;
    margin: 0 auto;
    // profile-menu-reset-container__btn:hover
    &:hover {
      background: rgb(236, 236, 234);
    }
  }
}
