.profile-menu {
  padding-bottom: 3rem;
  // profile-menu__footer
  &__footer {
    color: ivory;
    text-align: center;
  }
  &__attribute-link {
    color: blue;
    margin-left: 0.5rem;
  }
}

.profile-menu-reset-container {
  margin-bottom: 2rem;

  // profile-menu-reset-container__btn
  &__btn {
    background-color: ivory;
    display: block;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 0 auto;
  }
}
