@import '../../styles/variables';
.place {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: $mobile-page-padding;
  padding-bottom: 6rem;
}

@media (min-width: 768px) {
  .place {
    padding: $tablet-page-padding;
  }
}
@media (min-width: 1024px) {
  .place {
    padding: $desktop-page-padding;
  }
}
