@import '../../styles/variables';
.place {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - #{$nav-height});
  padding: $mobile-page-padding;
}

@media (min-width: 768px) {
  .place {
    align-items: center;
    padding: $tablet-page-padding;
  }
}
@media (min-width: 1024px) {
  .place {
    padding: $desktop-page-padding;
  }
}
