@import '../../styles/mixins';
@import '../../styles/variables';
.contact {
  @include CenteredAndFixedElement(80%, 180px);
  animation: slide-in-popup 0.2s ease both;
  background: $social-bg;
  border: 1px solid black;
  border-radius: 20px;
  color: $icon-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  z-index: 200;
  // contact__signature
  &__signature {
    text-align: center;
  }
}

.contact-list {
  display: flex;
  justify-content: space-between;

  // contact-list__link
  &__link {
    color: darken($icon-color,5%);
    font-size: $social-icon-font-size;
  }
}
