@import '../../styles/mixins';
@import '../../styles/variables';

.edit-profile {
  @include CenteredAndFixedElement(300px, 180px);
  align-items: center;
  animation: slidein-popup 0.2s ease;
  background: $sec-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
  z-index: $edit-profile-index;
}

.edit-profile-name-container {
  position: relative;
  width: 70%;
  // edit-profile-name-container__btn
  &__btn {
    position: absolute;
    right: -50px;
    top: 0;
  }
}
