@import '../../styles/variables';
.aside-shuffle {
  background: gainsboro;
  height: 70vh;
  position: fixed;
  right: 50px;
  top: $mobile-nav-height + 60px;
  width: 200px;
}

.aside-shuffle-place-list {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
