@import '../../styles/variables';
.aside-shuffle {
  align-items: center;
  animation: slide-in-shuffle-aside 1s ease both;
  background: #b5b5b580;
  border-radius: 25px;
  box-shadow: 10px 10px 10px #0000004d;
  display: flex;
  flex-direction: column;
  height: 650px;
  margin-top: -300px;
  padding: 0.7rem 0;
  position: fixed;
  right: 40px;
  top: 50%;
  width: 200px;
  z-index: $aside-index;

  // aside-shuffle__btn
  &__btn {
    height: 60px;
    margin-bottom: 1rem;
    width: 60px;
  }
}

.aside-shuffle-place-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, 25%);
  padding: 0 15px;
  height: 80%;
}

