@import '../../styles/variables';
.aside-shuffle {
  align-items: center;
  background: #b5b5b580;
  border-radius: 25px;
  box-shadow: 10px 10px 10px #0000004d;
  display: flex;
  flex-direction: column;
  height: 550px;
  margin-top: -225px;
  padding: 0.7rem 0;
  position: fixed;
  right: 50px;
  top: 50%;
  width: 200px;

  // aside-shuffle__btn
  &__btn {
    background: $third-color;
    box-shadow: 0 7px 20px black;
    border-radius: 50%;
    height: 60px;
    margin-bottom: 1rem;
    width: 60px;
  }
}

.aside-shuffle-place-list {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
