@import '../../styles/mixins';
@import '../../styles/variables';
.search-radius-item {
  @include PreferencesItemStyle;
  justify-content: space-between;

  // search-radius-item__label
  &__label {
    margin-right: 10px;
  }

  // search-radius-item__input-wrapper
  &__input-wrapper {
  }

  // search-radius-item__input
  &__input {
    background: none;
    border: none;
    color: $icon-color;
    font-size: $preferences-font-size;
    max-width: 75px;
  }

  // search-radius-item__span
  &__span {
    font-size: 1rem;
  }
}
