@import '../../styles/variables';
@import '../../styles/mixins';
.dialog {
  @include CenteredAndFixedElement(306px, 130px);
  background: $main-ui-bg;
  border-radius: 10px;
  padding: 0.9rem;
  z-index: 10000000;
  // dialog__text
  &__text {
    color: black;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.dialog-controls {
  display: flex;
  justify-content: space-between;
  padding: 0 2.5rem;
  // .dialog-controls__btn
  &__btn {
    background: #114b10c9;
    border-radius: 5px;
    color: #f3f3f3;
    font-size: 1.3rem;
    padding: 0.3rem 0;
    text-align: center;
    transition: background 100ms ease;
    width: 60px;
    &:hover {
      background: lighten(#114b10c9, 2%);
    }
  }
  &__btn--no-btn {
    background: #d11c1ceb;

    margin: 0;
    &:hover {
      background: lighten(#d11c1ceb, 2%);
    }
  }
}
