.profile-thumbnail {
  align-items: center;
  background: rgb(100 122 96 / 95%);
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 230px;
  margin-bottom: 2rem;
  padding: 1.5rem;
  position: relative;
  width: 100%;

  // profile-thumbnail__person-username
  &__person-username {
    z-index: 1;
  }
}

@media (min-width: 768px) {
  .profile-thumbnail {
    height: 400px;
    justify-content: center;
    
    // profile-thumbnail::before
    &::before {
      height: 400px;
    }
  }
}
