.profile-thumbnail {
  align-items: center;
  background: url('../../assets/img.jpg') no-repeat center;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 230px;
  margin-bottom: 2rem;
  position: relative;
  // profile-thumbnail__person-username
  &__person-username {
    margin-top: 2rem;
    z-index: 1;
  }
}

.profile-thumbnail::before {
  background: rgba(0, 0, 0, 0.3);
  content: '';
  display: block;
  height: 230px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
