@import '../../styles/variables';
.avatar-container {
  border-radius: 50%;
  color: white;
  height: $person-img-size;
  margin-bottom: 1rem;
  width: $person-img-size;
  z-index: 1;
}

.avatar-container__picture {
  border-radius: 50%;
  box-shadow: 2px 10px 5px #2c2c2c;
  height: $person-img-size;
  object-fit: cover;
  width: $person-img-size;
}
