@import '../../styles/variables';
.preferences {
  align-items: center;
  background: $profile-bg-color;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 6rem 0 75px 0;
  z-index: 1000;
  // preferences__map-options-list
  &__map-options-list {
    color: $icon-color;
    display: flex;
    flex-direction: column;
  }
  // preferences__header
  &__header {
    color: $icon-color;
    font-size: 1.4rem;
  }
  // preferences__btn
  &__btn {
    background: ivory;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
    width: max-content;
  }
}
