@import '../../styles/variables';
.preferences {
  background: $profile-bg-color;
  padding: 6rem 0 75px 0;
  z-index: 1000;
  // preferences__map-options-list
  &__map-options-list {
    color: $icon-color;
    display: flex;
    flex-direction: column;
  }
}
