@import '../../styles/mixins';
@import '../../styles/variables';

.location-item {
  @include PreferencesItemStyle;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.location-input-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 50%;
  // location-item-container__input
  &__input {
    font-size: 1.1rem;
    padding: 1px 5px;
    text-align: center;
    width: 35%;
  }
}
