@import './styles/variables';
@import './styles/animations';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: $site-background;
  font-family: $main-font;
  height: 100%;
  overflow-x: hidden;
}

#root,
.home {
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.no-border {
  border: none;
}

.no-margin {
  margin: 0;
}

.invisible {
  visibility: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.help {
  overflow: hidden;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
}

.fa-arrow-left {
  transition: color 100ms ease;
}

.fa-arrow-left:hover {
  color: darken($icon-color, 10%);
}
