@import './styles/variables';
@import "./styles/animations";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: $site-background;
  font-family: $main-font;
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
}

.no-border {
  border: none;
}

.no-margin {
  margin: 0;
}

.invisible {
  visibility: hidden;
}

img {
  display: block;
  max-width: 100%;
}