@import './styles/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
}

html,
body {
  background: $site-background;
  font-family: $main-font;
  overflow-x: hidden;
}

.no-border {
  border: none;
}
