@import '../../styles/variables';
.profile-container {
  background: $profile-bg-color;
  color: $icon-color;
  height: 100vh;
  padding: $mobile-page-padding;
}

@media (min-width: 768px) {
  .profile-container {
    padding: $tablet-page-padding;
  }
}
