@import '../../styles/variables';
.fullscreen-picture {
  align-items: center;
  background: #4a5745;
  display: flex;
  min-height: calc(100vh - #{$nav-height});
  padding-bottom: $nav-height;

  // fullscreen-picture__img
  &__img {
    height: auto;
    width: 100%;
  }

  // fullscreen-picture__name
  &__name {
    color: $icon-color;
    font-size: 1.3rem;
    text-align: center;
  }
}
