@import '../../styles/variables';
.profile-menu-list {
  margin-bottom: 2rem;
  //profile-menu-list__item
  &__item {
    background: $sec-color;
    border-bottom: 1px solid #8d8d8d5e;
    color: $icon-color;
    font-size: 1.8rem;
  }
  // profile-menu-list__icon
  &__icon {
    width: 50px;
  }
  // profile-menu-list__link,
  // profile-menu-list__btn
  &__link,
  &__btn {
    align-items: center;
    color: inherit;
    display: flex;
    font-size: inherit;
    height: 100%;
    padding: 0.6rem 1rem;
    text-align: start;
    transition: background 100ms ease;
    width: 100%;
  }

  // profile-menu-list__link:hover,
  // profile-menu-list__btn:hover
  &__link:hover,
  &__btn:hover {
    background: #eee;
  }
}

@media (min-width: 768px) {
  .profile-menu-list {
    // profile-menu-list__link,
    // profile-menu-list__btn
    &__link,
    &__btn {
      padding: 0.7rem 1.5rem;
    }
  }
}
